*{
    box-sizing: content-box;
    margin: 40;
    padding: 40;
    font-family: 'inter', sans-serif;
}
body{
    background-color: #fff;
    
}
.navbar-container{
    width: 1440px;
    height: 80px;
    background-color: #fff;
    display: flex;
    justify-content: center;
}
.navbar{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 1120px;
    height: 72px;
    top: 4px;
    left: 160px;
    gap: 40px;
}
.logo{
    width: 145px;
    height: 24px;
    color: #000;
    font: inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 100%;
    letter-spacing: 0px;
    font-style: bold;
    text-decoration: none;
}
.nav-links ul {
    text-decoration: none;
    display:flex;
    gap: 20px;
    list-style: none;
    text-decoration: none;
    font-size: 16px;
}
.nav-links ul a{
    text-decoration: none;
    color: #000;
}
.nav-links ul:hover{
    color: #344961;
}
.button-container .right{
    width: 169px;
    height: 48px;
    gap: 8px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #331064;
    color: #fff;
    border-radius: 20px;
    cursor: pointer;

}
.button-container .right:hover{
    background-color: #000;
}
.content-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Frame-box{
    background-color: #331064;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 1,120px;
    height: 557px;
    top: 144px;
    left: 160px;    
    border-radius: 20px;   
    box-sizing: content-box;
}
.Frame-text-content {
    flex: 1;
  max-width: 50%;
}
.Frame-text-content h1{
    font: inter;
    font-weight: 700;
    font-size: 60px;
    font-style: bold;
    line-height: 80px;
    letter-spacing: 0%;
    width: 592px;
    height: 240px;
    color: #fff;
    margin-bottom: 20px;
    display: flex;


}
.Frame-text-content p{
    font: inter;
    color: #fff;
    font-size: 18px;
    width: 510px;
    height: 72px;
    top: 260px;
    font-weight: 400;
    size: 20px;
    line-height: 180%;
    letter-spacing: 0%;
    gap: 20px;
    display: flex;
}
.Frame-app-buttons{
    width: 198px;
    height: 60px;
    left: 218px;
    display: flex;
    gap: 20px;
}

.Frame-image-content{
     width: 374.5px;   
     height: 761px;
     top:59px;
     left:679px;
}
.footer-container{
    width: 1,120px;
    height: 30px;
    top: 764px;
    left: 160px;
    gap: 56px;

}
.footerbar{
    background-color: #fff;
    width: 1,120px;
    height: 30px;
    top: 764px;
    left: 160px;
    gap: 56px;
}